<%= render 'shared/sidemenu', post: @newpost, user: current_user %>

<h1>Users</h1>
<table class="table">
    <thead>
        <tr>
            <th>image</th>
            <th>name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% @users.each do |user| %> 
            <tr>
                <td>
                    <%= link_to user_path(user.id) do %>
                        <%= attachment_image_tag user, :profile_image, fallback: "no_image.jpg", format:'jpeg', size: "40x40" %>
                    <% end %>
                </td>
                <td>
                    <%= link_to user_path(user.id) do %>
                        <%= user.name %>
                    <% end %>
                </td>
                <td>
                <%= link_to 'Show', user_path(user.id) %>        
                </td>
            </tr>
        <% end %>
    </tbody>
</table>