<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
<%= render 'shared/sidemenu', post: @newpost, user: current_user %>

<h1>Posts</h1>
<% @posts.each do |post| %>
    <%= link_to user_path(post.user.id) do %>
        <%= post.user.email %>
    <% end %>
    <%= link_to post_path(post.id) do %>
        <%= post.title %>
    <% end %>
<% end %>