<%= render 'shared/sidemenu', post: @newpost, user: current_user %>

<h1>Posts</h1>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>title</th>
            <th>option</th>
            <th colspan="3"></th>
        </tr>
    </thead>
    <tbody>
        <% @posts.each do |post| %>
            <tr>
                <td>
                    <%= link_to user_path(post.user.id) do %>
                        <%= attachment_image_tag post.user, :profile_image, fallback: "no_image.jpg", format:'jpeg', size: "40x40" %>
                    <% end %>
                </td>
                <td>
                    <%= link_to post_path(post.id) do %>
                        <%= post.title %>
                    <% end %>
                </td>
                <td><%= post.body %></td>
                <td> <%= link_to "#{post.post_comments.count} コメント", post_path(post.id) %></td>
            </tr>
        <% end %>
    </tbody>
</table>